html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
  }
  .header {
    
    width: 100%;
    height: 10%;
    background: #f5f5f5;
    text-align: center; 
    border-bottom: 1px solid gray;
  }
  h1{
    margin: 0px;
  }
  .menu{
    background-color: #f5f5f5;
    float: bottom;
    height: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .list_menu{
    display: inline-block;
    height: 100%;
    width: 380px;
    background-color: aliceblue;
    font-size: xx-large;
    text-align: center;
    padding-top: 3px;
  }
  .list_menu:hover{
    background-color: #68cdbb;
  }
  #list_menu{
    width: 390px;
  }
  .section {
    width: 90%;
    height: 80%;
    float: left;
    background: f5f5f5;
  }
  a{
    text-decoration: none;
    transition: transform 0.5s;
  }
  .section_div{
    height: 20%;
    border: 1px solid black;
  }
  .section_div p{
    padding: 20px;
  }
  .section_div h1{
    padding: 20px;
  }
  /*
  #section_div1{
    height: 500px;
  }
  */
  .nav{
    width: 10%;
    height: 80%;
    float: left;
    background: f5f5f5;
  }
  
  .nav_div{
      height: 20%;
      border: 1px solid black;
  }
  .button{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-left: 50px;
      margin-top: 30px;
      background-color: white;
  }
  .button1{
    border: 3px solid #d87a6e;
  }
  .button2{
    border: 3px solid #e39d6c;
  }
  .button3{
    border: 3px solid #75bab2;
  }
  .button4{
    border: 3px solid #89c7d4;
  }
  .button5{
    border: 3px solid #428ea3;
  }
  .button6{
    border: 3px solid #d05c94;
  }
  