html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
  }
  .header {
    width: 100%;
    height: 20%;
    background: yellow;
  }
  .section {
    width: 75%;
    height: 80%;
    float: left;
    background: olivedrab;
  }
  .nav{
    width: 10%;
    height: 80%;
    float: left;
    background: orange;
  }
  .aside{
    width: 15%;
    height: 80%;
    float: right;
    background: orange;
  }
  .div{
      height: 20%;
      border: 1px solid black;
  }
  .button{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-left: 50px;
      margin-top: 30px;
}
